@import '_vars';

body {
  margin: 0;
  background-color: $primary-color;
  color: $primary-text;
}

table.menu {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-bottom-right-radius: 6px;
  background-color: $secondary-color;
  box-shadow: #000 0 0 15px;
  font-family: 'Courier New', Courier, monospace;

  h1 {
    margin: 0 10px;
    font-size: 20px;
  }

  td {
    text-align: center;
  }

  button {
    width: 80%;
    background-color: $tertiary-color;
    color: #111;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #555;
    transition: width 0.5s, background-color 0.5s;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: lighten($tertiary-color, 5);
      width: 85%;
      transition: width 0.5s, background-color 0.5s;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  td {
    &.content { text-align: right; }
    &.label {
      @extend .content;
      width: 80px;
    }
    &.result {
      @extend .content;
    }
  }
}

.clicky {
  position: absolute;
  border-radius: 50%;
  background-color: $clicky-color;
  border: 1px solid #555;
  box-shadow: #000 0 0 15px;

  &:hover {
    background-color: lighten($clicky-color, 5);//#aaf;
    border: 1px solid lighten(#555, 5);
    box-shadow: red 0 0 15px;
    cursor: pointer;
  }
}
